PORT=3000
NODE_ENV=development
DATABASE_URL=postgres://sarvarbekxazratov@localhost:5432/workpulse
JWT_SECRET=change-me-to-long-random-string
JWT_EXPIRES_SEC=604800
SUPERADMIN_EMAIL=your@email.com
SUPERADMIN_PASSWORD=CHANGE_ME_STRONG
INTERNAL_API_KEY=change-me-internal-key-for-python-services
TURNSTILE_IPS_IN=192.168.30.2,192.168.30.3
TURNSTILE_IPS_OUT=192.168.30.4,192.168.30.5
CORS_ORIGIN=http://localhost:5173
TYPEORM_LOGGING=false

